
.InputfieldPageListSelectMultiple ol li .itemEdit{
    position: absolute;
    right: 30px;
    top: 3px;
}

.asmListSortable li .asmItemEditModal{
    position: absolute;
    right: 30px;
    top: 3px;
}